<div class="container-fluid">
        <div class="row">
          <div class="p-2 m-1"></div>
        </div>
        <div class="row" style="background: #741414;padding: 0 0 0 5rem">
          <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 col-xl-2 header_text">
            <!-- image -->
            <p class="m-0 text-center" style="color: #741414">
              Appka
            </p>
            <p class="m-0 text-right" style="color: #fcbc4b;line-height: 1.5rem;">
              Tofa
            </p>
          </div>
          <div class="col-lg-1 col-sm-1 col-xs-1 col-md-1 col-xl-1"></div>
          <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8 col-xl-8">
            <div class="div">
              <!-- image -->
              <div class="personal_gifts mb-2">
                <span>Personalized Gifts</span>
              </div>
              <div class="input-group mb-1">
                  <div class="input-group-prepend">
                    <span style="background: #fcbc4b;border-radius: 1rem 0rem 0rem 1rem" class="input-group-text" id="basic-addon1"></span>
                  </div>
                  <input type="text" style="border-radius: 0rem 1rem 1rem 0rem" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                </div>
      
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>