@font-face {
    font-family: "CustomFont";
    src: url("../../assets/fonts/WaltographUIBold/waltographUI.ttf");
    src: url("../../assets/fonts/waltograph42.ttf") format("woff"),
    url("../../assets/fonts/waltograph42.otf") format("opentype"),
    // url("CustomFont.svg#filename") format("svg");
}
.header_text{
    background: #fff;
    font-size: 2.5rem;
    font-weight: 700;
}
.personal_gifts{
    font-family: 'CustomFont';
    color: #000;
    font-size: 2rem;
    background: #fff;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-top: -20px;
    width: 50%;
}

.login_icon{
    object-fit: cover;
    border: 1px solid #fff;
    position: absolute;
    right: 10px;
    top: 2.5rem;
    background: #fff;
    border-radius: 40%;
    cursor: pointer;
}

.btn{
    background-color: #121c33;
    color: #fff;
}
.LoginOrLogoutForm{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #121c33;
}
.sign_in , .sign_up{
    width: 42%;
}

.sign_in>* , .sign_up>*{
    font-size: 14px;
}

h3{
    border-bottom: 2px solid #741414;
    padding-bottom: 10px;
}

.modal-header{
    border-bottom: 1.5px solid #741414;
}

.right_header{
    margin-left: 10%;
}
@media screen and (max-width: 900px) {
    .header_text{
        font-size: 1.8rem;
    }

    .personal_gifts{
        font-size: 1.6rem;
        // width: 70%;

    }
    .right_header{
        margin-left: 9%;
    }
}

@media screen and (max-width: 770px) {
    .header_text{
        font-size: 1.5rem;
    }
    .header_text>:nth-child(2){
        margin-top: 10px !important;
    }
    .personal_gifts{
        font-size: 1.3rem;
    }
    .right_header{
        margin-left: 8%;
    }
}
@media screen and (max-width: 585px) {
    .header_text{
        font-size: 1.2rem;
        width: 25% !important;
    }
    .header{
        padding-left: 10px !important;
    }
    .header_text>:nth-child(2){
        margin-top: 10px !important;
    }
    .personal_gifts{
        font-size: 15px;
    }
    .right_header{
        width: 60% !important;
    }
    .right_header{
        margin-left: 4% !important;
    }
    .login_icon{
        top: 1.9rem;
    }
    .sign_in , .sign_up{
        width: 100% !important;
    }

}


@media screen and (max-width: 490px) {
    
    .personal_gifts{
        width: 68% !important;
    }

    .login_icon{
        width:45px;
        height: 45px;
    }
}