@font-face {
    font-family: "CustomFont";
    src: url("../../assets/fonts/WaltographUIBold/waltographUI.ttf");
    src: url("../../assets/fonts/waltograph42.ttf") format("woff"),
    url("../../assets/fonts/waltograph42.otf") format("opentype"),
    // url("CustomFont.svg#filename") format("svg");
}
.header_text{
    background: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    // display: inline-block;
    border-radius: 20px;
    margin-left: 4rem;
    // float: left;
}
.header_text>p{
    float: left;
    margin: 0 4px;
}
.personal_gifts{
    font-family: 'CustomFont';
    color: #000;
    font-size: 2rem;
    background: #fff;
    font-weight: 600;
    // width: 30%;
    float: right;
}

.app-footer{
    position: relative;
    bottom: 0;
}

.categories{
    border-radius: 25px;
    cursor: pointer;
    background-color: #121c33;
    color: #fff;
    padding: 5px 15px;
    margin: 10px 7px ;
    border: 1px solid #121c33;
}
.categories:hover{
    background-color: #f2bc4b;
    color: #121c33;
}

@media screen and (max-width: 900px) {
    .header_text{
        font-size: 1.8rem;
    }

    .personal_gifts{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 780px) {
    .header_text{
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    .personal_gifts{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 710px) {
    .header_text{
        font-size: 1.2rem;
        margin-left: 2rem;
    }
    .categories{
        margin:6px 6px;
        padding: 3px 10px;
    }

   
}

@media screen and (max-width: 610px) {
    .header_text{
        font-size: 1.1rem;
        width: 28% !important;
    }
    .header_text>p{
        padding-left: 2px;
        margin: 0
    }
    .personal_gifts{
        font-size: 1.1rem;
        // float: right;
    }
    .right_text{
        width: 50% !important;
    }
    .categories{
        margin: 5px 7px;
        padding: 1px 12px;
    }
}

@media screen and (max-width: 490px) {
    .header_text{
        width: 33% !important;
        margin: 0;
        font-size: 14px;
    }
    .right_text{
        width: 66% !important;
        font-size: 14px;
    }
}
