<div class="container-fluid app-footer">
    <input type="button" class="categories" value="Mug">
    <input type="button" class="categories" value="TShirt">
    <input type="button" class="categories" value="Photo Frame">
    <input type="button" class="categories" value="Pen">
    <input type="button" class="categories" value="Name Plate">
    <input type="button" class="categories" value="Photo Standy">
    <input type="button" class="categories" value="Photo Frame 12*12">
    <input type="button" class="categories" value="Mug">
    <input type="button" class="categories" value="TShirt">
    <input type="button" class="categories" value="Photo Frame">
    <input type="button" class="categories" value="Pen">
    <input type="button" class="categories" value="Name Plate">
    <input type="button" class="categories" value="Photo Standy">
    <input type="button" class="categories" value="Photo Frame 12*12">
    <input type="button" class="categories" value="Mug">
    <input type="button" class="categories" value="TShirt">
    <input type="button" class="categories" value="Photo Frame">
    <input type="button" class="categories" value="Pen">
    <input type="button" class="categories" value="Name Plate">
    <input type="button" class="categories" value="Photo Standy">
    <input type="button" class="categories" value="Photo Frame 12*12">
    <div class="row">
        <div class="p-2 m-2"></div>
    </div>
    <div class="row p-2" style="background: #741414;padding: 0 0 0 5rem">
        <div class="col-lg-4 col-sm-3 col-xs-3 col-md-4 col-xl-3 header_text">
            <!-- image -->
            <p style="color: #741414">
                Appka
            </p>
            <p style="color: #fcbc4b;padding-left: 10px">
                Tofa
            </p>
        </div>
        <div class="col-lg-7 col-sm-8 col-xs-8 col-md-7 col-xl-8 mt-3 right_text">
            <div class="div">
                <!-- image -->
                <div class="personal_gifts mb-2">
                    <span style="letter-spacing: 5px">Personalized Gifts</span>
                </div>
            </div>
        </div>
    </div>
</div>