<div class="row m-2 p-2 mt-5 pt-5">
    <div class="left_filters mt-5">
        <input type="button" class="custom-btn form-control" value="Mug">
        <input type="button" class="custom-btn form-control" value="TShirt">
        <input type="button" class="custom-btn form-control" value="Photo Frame">
        <input type="button" class="custom-btn form-control" value="Pen">
        <input type="button" class="custom-btn form-control" value="Name Plate">
        <input type="button" class="custom-btn form-control" value="Photo Standy">
        <input type="button" class="custom-btn form-control" value="Photo Frame 12*12">

    </div>
    <div class="right_section p-2">
        <!-- display name based on the filters selected for e.g. mug -->
        <div class="text-center mt-2 mb-2 selected">MUG</div>
        <div class="row m-2">
            <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-xs-2">
                <div class="card_body">
                    <div>
                        <img class="round" src="../../assets/images/mug.png" alt="mug">
                    </div>
                </div>
                <div>
                    <div style="float: left">
                        <div>MUG</div>
                        <div>160Rs.</div>
                    </div>
                    <div style="float: right;">
                        Whatsapp logo
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-xs-2">
                <div class="card_body">
                    <div>
                        <img class="round" src="../../assets/images/mug.png" alt="mug">
                    </div>
                </div>
                <div>
                    <div style="float: left">
                        <div>MUG</div>
                        <div>160Rs.</div>
                    </div>
                    <div style="float: right;">
                        Whatsapp logo
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-xs-2">
                <div class="card_body">
                    <div>
                        <img class="round" src="../../assets/images/mug.png" alt="mug">
                    </div>
                </div>
                <div>
                    <div style="float: left">
                        <div>MUG</div>
                        <div>160Rs.</div>
                    </div>
                    <div style="float: right;">
                        Whatsapp logo
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-xs-2">
                <div class="card_body">
                    <div>
                        <img class="round" src="../../assets/images/mug.png" alt="mug">
                    </div>
                </div>
                <div>
                    <div style="float: left">
                        <div>MUG</div>
                        <div>160Rs.</div>
                    </div>
                    <div style="float: right;">
                        Whatsapp logo
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>