
.left_filters{
    width: 22%;
}
.right_section{
    width: 78%;
}
.left_filters>*{
    margin: 5px;
    border-radius: 25px;
}
.custom-btn{
    color: #fff;
    background-color: #121c33;
}
.custom-btn:hover{
    background-color: #fcbc4b;
    cursor: pointer;
    color: #121c33;
}
.card_body_img{
    // border: 1px solid #121c33;
    // height: 240px;
    border-radius: 20px;
}

.round{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    object-fit: cover;
}

.selected{
    font-size: 2rem;
    font-weight: 500;

}

.items_mobile{
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item{

}
.card_body_img::before{
    content: " ";
    position: absolute;
    /* top: 15%; */
    /* left: 15px; */
    border-top: 3px solid #121c33;
    height: 200px;
    width: 206px;
    border-radius: 14%;
    z-index: 10;
    border-bottom: 3px solid #121c33;
}

@media screen and (max-width: 600px) {
   .round{
    width: 100px;
    height: 100px;
   }

   .card_body_img::before{
    height: 100px;
    width: 100px;
    border-radius: 14%;
}

}