<div class="row mt-2 m-0 p-0">
    <div class="col p-0 m-0">
        <div class="card_body">
            <div>
                <img src="../../assets/images/1.png" alt="1">
            </div>
        </div>
    </div>
    <div class="col p-0 m-0">
        <div class="card_body">
            <div>
                <img src="../../assets/images/2.png" alt="2">
            </div>
        </div>
    </div>
    <div class="col p-0 m-0">
        <div class="card_body">
            <div>
                <img src="../../assets/images/1.png" alt="1">
            </div>
        </div>
    </div>
    <div class="col p-0 m-0">
        <div class="card_body">
            <div>
                <img src="../../assets/images/2.png" alt="2">
            </div>
        </div>
    </div>
</div>