<div class="container">
  <div class="row">
    <div class="col-lg-4 col-xl-4 col-sm-4 col-md-4 col-xs-4">

      <div class="input-group m-3">
        <input type="text" class="form-control" [(ngModel)]="pushValue" autofocus (keydown.enter)="push(pushValue)"
          placeholder="Push Value?" aria-describedby="push">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="push(pushValue)" id="push">PUSH</button>
        </div>
      </div>
      <br>
      <div class="input  m-3">
        <button class="btn pl-5 pr-5 btn-outline-secondary" type="button" (click)="pop()" id="pop">POP</button>
      </div>
      <br>
      <div class="input  m-3">
        <button class="btn pl-2 pr-2 btn-outline-secondary" type="button" (click)="shift()" id="pop">POP FROM
          FRONT</button>
      </div>
    </div>
    <div class="col-lg-8 col-xl-8 col-sm-8 col-md-8 col-xs-8">
      <div class="stack">
        <div class="columns" *ngFor="let item of array">
          <div>{{item}}</div>
        </div>
      </div>
    </div>

  </div>

  <div class="row m-3">
    Popped Values: -> <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 mb-4">
      <div class="list">
        <div class="pop_columns" *ngFor="let item of poppedValues">
          <div>{{item}}</div>
        </div>
      </div>
    </div>
    <br>
    <hr style="border-bottom: 1px solid #111;width: 100%;" />

    Array Items-> <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
      <div class="arrayValues">
        <div class="list_columns" *ngFor="let item of array">
          <div>{{item}}</div>
        </div>
      </div>
    </div>
  </div>
</div>